# The gitignore file specifies intentionally untracked files that Git should ignore.
#
*
# except these files:
!.gitignore
!Makefile
!*.c
!*.h
!*startup*xx.s
!*_flash.ld

#/*
#!/drivers
#/drivers/*
#!/drivers/include
#!/drivers/src
